html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input,
.input {
    padding: 10px 3px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
    transition: all 0.4s;
    background-color: whitesmoke;
    padding-top: 30px;
}

input:focus {
    outline-width: 0;
    border-bottom: 3px solid lightblue;
}

input::placeholder {
    transition: all 0.4s;
}

input:focus::placeholder {
    position: relative;
    transform: translateY(-25px);
    font-size: 16px;
    color: lightblue;
    transition: all 0.4s;
}

input::after::placeholder {
    display: inline;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}